global
 log stdout format raw local0 info
 daemon
 maxconn 256

defaults
 log global
 option dontlognull
 timeout queue 1m
 timeout connect 10s
 timeout client 1m
 timeout server 1m
 timeout check 10s
 maxconn 3000

frontend tijolex-front
  bind *:80
  default_backend tijolex-backend-server

backend tijolex-backend-server
  balance roundrobin
  server s1 server-1:80
  server s2 server-2:80
  server s3 server-3:80
